.gwt_home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.gwt_home img {
  width: 30%;
  height: auto;
}
.gwt_home .caption {
  width: 70%;
}
section.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}
section.page img {
  display: block;
  width: 100%;
  height: 100%;
}
#content {
  width: 100%;
  position: fixed;
  top: 45px;
  left: 100%;
  right: 0;
  bottom: 48px;
  background-color: aquamarine;
  z-index: 2;
  -webkit-transition: all .5s linear .1s;
  -moz-transition: all .5s linear .1s;
  -ms-transition: all .5s linear .1s;
  -o-transition: all .5s linear .1s;
  transition: all .5s linear .1s;
  overflow-y: auto;
}
#content.active {
  left: 0;
}
#content .back {
  width: 32px;
  color: #ffffff;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  display: block;
  margin: 5px 0;
  padding-left: 10px;
}
#content .top {
  width: 4.6rem;
  height: 4.5rem;
  position: fixed;
  right: 1.4rem;
  bottom: 5rem;
  z-index: 3;
}
#content .top a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("http://static.hx2cars.com/resource/web/mobpages/images/mindex/float2.png") center center no-repeat;
  background-size: 4.5rem 4.5rem;
}
