body,
ul,
li {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-size: 12px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: "Helvetica, 微软雅黑, arial";
}
#header {
  /*position: absolute;*/
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
  color: #eee;
  font-size: 20px;
  text-align: center;
}
#header a {
  color: #f3f3f3;
  text-decoration: none;
  font-weight: normal;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);*/
}
#footer {
  /*position: absolute;*/
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #222;
  padding: 0;
  border-top: 1px solid #444;
}
#wrapper {
  position: absolute;
  z-index: 1;
  /*top: 45px;*/
  top:0;
  /*bottom: 48px;*/
  bottom:0;
  left: -9999px;
  width: 100%;
  background: #aaa;
  overflow: auto;
}
#scroller {
  position: absolute;
  z-index: 1;
  /*	-webkit-touch-callout:none;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
}
#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}
#scroller li {
  padding: 0 10px;
  height: auto;
  /*border-bottom: 1px solid #ccc;*/
  border-top: 1px solid #fff;
  background-color: #fafafa;
  font-size: 14px;
}
#myFrame {
  position: absolute;
  top: 0;
  left: 0;
}
/**
 *
 * Pull down styles
 *
 */
#pullDown,
#pullUp {
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(../imgs/refresh.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
#pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
#pullDown.loading .pullDownIcon,
#pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.gwt_home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.gwt_home img {
  width: 30%;
  height: auto;
}
.gwt_home .caption {
  width: 70%;
}
section.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}
section.page img {
  display: block;
  width: 100%;
  height: 100%;
}
#content {
  width: 100%;
  position: absolute;
  /*top: 45px;*/
  top:0;
  left: 100%;
  right: 0;
  /*bottom: 48px;*/
  bottom:-3px;
  background-color: aquamarine;
  z-index: 2;
  -webkit-transition: all .5s linear .1s;
  -moz-transition: all .5s linear .1s;
  -ms-transition: all .5s linear .1s;
  -o-transition: all .5s linear .1s;
  transition: all .5s linear .1s;
  overflow-y: auto;
}
#content.active {
  left: 0;
}
#content .back {
  width: 32px;
  color: #ffffff;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  display: block;
  margin: 5px 0;
  padding-left: 10px;
}
#content .top {
  width: 4.6rem;
  height: 4.5rem;
  position: fixed;
  right: 1.4rem;
  bottom: 5rem;
  z-index: 3;
}
#content .top a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("http://static.hx2cars.com/resource/web/mobpages/images/mindex/float2.png") center center no-repeat;
  background-size: 4.5rem 4.5rem;
}
